</!DOCTYPE html>
<html>
	<head>	
	<style>
	h1 {
	font-family: "Josefin Sans";
	font-size: 31px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 8.8px;
	}	 
	p {
	font-family: Comfortaa;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	}	
 	</style>
 </head>
 <body>
 	<h1 class="center-align">{{title}}</h1>
 	<a class="btn" onclick="Materialize.toast('A-RRAAAYY!!!', 4000, 'rounded')">[hip,hip]!</a>
 
	<div class="container"</div>
	<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a href="mailto:krystlejustine@gmail.com" class="btn waves-effect white grey-text darken-text-2">Contact Me!</a>
    </div>
    <div class="carousel-item red lighten-3 white-text" href="#one!">
      <h2>Greetings</h2>
      <p class="white-text">Thanks for your time and attention!!</p>
    </div>
    <div class="carousel-item teal lighten-2 white-text" href="#two!">
      <h2>I should put stuff here right?</h2>
      <p class="white-text">I probably should/p>
    </div>
    <div class="carousel-item blue-grey lighten-2 white-text" href="#three!">
      <h2>I bake also</h2>
      <p class="white-text">Wanna see??</p>
    </div>
    <div class="carousel-item  black white-text" href="#four!">
      <h2>Thanks again for your attention!!</h2>
      <p class="white-text">Contact me</p>
    </div>
  </div>
  
  </body>
  </html>