<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href= '/bower_components/materialize/dist/css/materialize.css'/>
  </head>
  <body class= 'grey lighten-2'>
    {{{body}}}

     <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large teal lighten-3">
      <i class="large material-icons">KJRM</i>
    </a>
    <ul>
      <li><a class="btn-floating black"><i class="material-icons">Hi</i></a></li>
      <li><a class="btn-floating black"><i class="material-icons">how/i></a></li>
      <li><a class="btn-floating black"><i class="material-icons">are</i></a></li>
      <li><a class="btn-floating black"><i class="material-icons">you</i></a></li>
    </ul>
  </div>



  <!-- Compiled and minified JavaScript -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
          
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
          
  <!-- Compiled and minified JavaScript -->
  <script src="javascripts/script.js"></script>
           
  </body>
</html>
